# Marathon Google Apps Script configuration
MARATHON_SECRET_KEY=
MARATHON_APPS_SCRIPT_URL=
CHECKING_APPS_SCRIPT_URL=

# Admin Authentication
ADMIN_PASSWORD=

# Supabase configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Gemini API configuration
GEMINI_API_KEY=
